form{
    min-height: 620px;
    width: 600px; ;
    border: solid 1px gray;
    margin: auto;

}
.pd{
    border-spacing: 0px;
    text-align: right;
    padding-right: 20px;
}
.br{
    border: none;
    border-color: gray;
    border-bottom: solid 1px;
    
}
.brt{
    border: none;
    border-color: gray;
    border-bottom: solid 1px;
    height: 100px;
    
}