body{
    background-color: gray;
}
.MD{
    background-color: red;
}
.KT{
    background-color: green;
}
.LS{
    background-color: white;
}
.DD{
    background-color: blue;
}
.WD{
    height: 20px;
}
