body{
    background-color: pink;
}
.MM{
    width: 190px;
    color: blue;
}
.KK{
    height: 400px;
}
.LL{
    height: 120px;
}
.LS{
    height: 60px;
}
.box{
    text-align: center;
}
.gg{
    text-align: center;
}
.WW{
    color: blue;
}
.YY{
    background-color: white;
}
.GY{
    background-color: gray;
}
.NM{
    width: 190px;
    background-color: blue;
}
.fk{
    color: white;
}
