.table{
    margin-top: 180px;
}
.bc{
    background-color: aqua;
}
.bcr{
    background-color: red;
}
.bcb{
    background-color: blue;
}
.bcy{
    background-color: yellow;
}
.bcg{
    background-color: green;
}
.bc2{
    background-color: beige;
}